@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600');

* {
  font-family: "Source Sans Pro", Roboto;
  box-sizing: border-box;
  line-height: 1.5em;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgb(68, 68, 68);
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 100;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 0px;
  font-weight: 400;
}

p {
  margin-top: 0px;
}

h2, p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.above-jobs {
  background: linear-gradient( 0deg, #F5F5FF, white 50%, rgb(242, 252, 252) );
  padding-bottom: 40px;
}

a {
  color: #E04E4B;
  text-decoration: underline;
}

.hero{
  padding: 80px 40px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient( 15deg, #E2DFF3, #FFF 50%, #DFECF2 );
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero p {
  max-width: 700px;
}

.hero p.tagline {
  text-align: center;
}

.logo {
  display: inline-block;
  height: 50px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.meteor {
  background-image: url('meteor.png');
}

.apollo {
  background-image: url('apollo.png');
}

.hero h1 {
  margin-top: 0px;
}

.hero a.btn {
  margin-bottom: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.hero p {
  text-align: left;
  margin-left: auto;
}

.tagline {
  margin-top: 10px;
}

.body-section {
  padding: 20px 40px;
  margin: 0 auto;
}

.btn {
  background-color: #E04E4B;
  padding: 0 40px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 4px;
  line-height: 40px;
}

#jobs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: white;
}

#jobs>h2 {
  margin-left: 40px;
}

#jobs h2 {
  margin-bottom: 10px;
}

#jobs-list {
  list-style-type: none;
  padding: 0;
}

#jobs-sidebar {
  border-right: #eee 1px solid;
  background-image: linear-gradient(175deg, #0e1e32 0%, #333539 100%);
  color: #FFF;
  flex: none;
  width: 350px;
}

#jobs-sidebar-title {
  padding: 40px 0 0 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 4px;
}

#jobs-list li {
  padding: 5px 10px;
  padding-left: 40px;
  position: relative;
}

#jobs-list li a {
  text-decoration: none;
  border: none;
  color: #FFF;
  font-weight: 400;
  transition: all 250ms ease-out;
  font-size: 14px;
}

#jobs-list li.active a, #jobs-list li:hover a {
  color: #e04e4b;
}

#jobs-list li a:before {
  content: "\2192";
  position: absolute;
  left: 20px;
  line-height: 26px;
  vertical-align: middle;
  transition: all 250ms ease-out;
  opacity: 0;
  color: #e04e4b;
}

#jobs-list li:hover a:before {
  opacity: 1;
}

#jobs-main {
  font-size: 14px;
  flex: 1;
  padding: 40px 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(160deg, #ecfafa 0%, #fff 100%);
}

#jobs-main>h2 {
  margin-top: 0;
  margin-left: 0;
}

.vignette-container {
  font-size: 0px;
}

.vignette {
  font-size: 12px;
  width: 33.333vw;
  height: 20vw;
  display: inline-block;
  /*border: #eee 1px solid;*/
  position: relative;
  overflow: hidden;
  /*margin: 1vw;*/
  background-position: center center;
  background-size: cover;
}

@media(max-width: 800px) {
  .vignette {
    width: 90%;
    margin: 5%;
    height: 300px;
  }
}

.vignette-content {
  text-decoration: none;
  padding: 20px;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(0deg,rgba(0,0,0,.60) 55%,transparent);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vignette-content h3 {
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}

.vignette-content p {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 300px;
}

.vignette-content h3 a {
  font-weight: 600;
  border-bottom: none;
}

.vignette-image {
  object-fit: cover;
  width: 100%;
}

.benefits {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.benefits-item {
  width: 30%;
  padding: 10px;
  position: relative;
}

@media(max-width: 800px) {
  .benefits-item {
    width: 100%;
  }
}

.benefit-img {
  height: 24px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.benefits-item img {
  max-height: 40px;
  max-width: 40px;
  float: left;
}

.benefits dt {
  font-weight: 600;
  margin-left: 60px;
}

.benefits dd {
  margin-left: 60px;
  margin-bottom: 10px;
  font-size: 12px;
}

.pictures-section, .pictures-section * {
  box-model: border-box;
}

.pictures-section {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
}

.pictures-section .image {
  display: inline-block;
  width: 33%;
  height: 230px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pictures-section .image.double {
  width: 66.1%;
}


@media (max-width: 1000px) {
  .pictures-section {
    padding: 0 40px;
    width: auto;
  }
  .pictures-section .image {
    width: calc(50% - 41px);
    height: 260px;
  }

  .pictures-section .image.double {
    width: calc(100% - 80px);
  }
}
