@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

// * { outline: 1px dashed #f00; }

.hero {
  padding: 80px 40px;
}

.btn {
  background-color: #E04E4B;
  padding: 10px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

#jobs {
  padding: 0 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#jobs-sidebar,
#jobs-main {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

#jobs-sidebar {
  width: 30%;
}

#jobs-main {
  width: 70%;
}